$body-bg: bisque;

@import '~bootstrap/scss/bootstrap.scss';

///////////////////////////////////////
  div.transition-group {
    position: relative;
  }

  section.route-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

/////////////////////////////////

.fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

/////////////////////////

  

  .slide-enter {
    transform: translate(100%);
  }

  .slide-enter.slide-enter-active {
    transform: translate(0%);
    transition: transform 300ms ease-in-out;
  }

  .slide-exit {
    transform: translate(0%);
  }

  .slide-exit.slide-exit-active {
    transform: translate(-100%);
        transition: transform 300ms ease-in-out;
   }

///////////////////////////////

  .rotate-enter {
    transform: rotateZ(-90deg);
    transform-origin: top left;
  }

  .rotate-enter.rotate-enter-active {
    transform:  rotateZ(0deg);
    transition: transform 300ms ease-in-out;
  }

  .rotate-exit {
    transform: rotateZ(0deg);
    transform-origin: top left;
  }

  .rotate-exit.rotate-exit-active {
    transform: rotateZ(90deg);
    transition: transform 300ms ease-in-out;
   }




 