$blue: #0d6efd;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$primary: $blue;

$body-bg: aliceblue;

@import '~bootstrap/scss/bootstrap.scss';

body,
.table {
  transition: color 1s, background-color 1s;
}

.list-group-item {
  transition: background-color 1s;
}

.form-control {
  transition: color 1s, background-color 1s, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

//@media (prefers-color-scheme: dark) {
body[data-theme='dark'] {
  background-color: $gray-900;
  color: $white;

  a {
    color: lightblue;
    :hover {
      color: darken($link-color, 15%);
    }
  }

  .list-group-item {
    background-color: $gray-800;
    border-color: $gray-700;
  }

  //$table-border-color start
  .table {
    color: $white;
    th,
    td {
      border-top-color: $gray-700;
    }
    thead th {
      border-bottom-color: $gray-700;
    }
    tbody + tbody {
      border-top-color: $gray-700;
    }
  }

  .table-striped {
    tbody tr:nth-of-type(#{$table-striped-order}) {
      background-color: $gray-800;
    }
  }

  .table-bordered {
    border-color: $gray-700;

    th,
    td {
      border-color: $gray-700;
    }
  }

  //$table-border-color end

  .form-control {
    background-color: $gray-500;
    color: $gray-900;
    border-color: $black;
    &:focus {
      background-color: $gray-400;
    }
  }

  .dropdown-menu {
    background-color: $gray-900;
    border-color: $gray-700;
  }
  .dropdown-divider {
    border-top-color: $gray-700;
  }

  .dropdown-item {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
      background-color: $primary;
    }
  }
  .dropdown-item-text {
    color: $white;
  }

  .modal-content {
    background-color: $gray-900;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

//for leaflet maps
@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

//everything below is for the nice textbox with label, used on the contact form.

.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  > input,
  > label {
    height: 3.125rem;
    padding: 0.75rem;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: $gray-700;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
  }

  input {
    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) {
      padding-top: 1.25rem;
      padding-bottom: 0.25rem;
    }

    &:not(:placeholder-shown) ~ label {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      font-size: 12px;
      //  color: #777;
      color: $gray-700;
    }
  }
}
