@import '~bootstrap/scss/bootstrap.scss';

$colortest: color-contrast(opaque(red, #7c0015));

:root {
  --test: #{$colortest};
}

body,
.table {
  transition: color 1s, background-color 1s;
}

.list-group-item {
  transition: background-color 1s;
}

.form-control {
  transition: color 1s, background-color 1s, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

//for leaflet maps
@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}
